<!DOCTYPE html>
<html>
<head>
    <title>Add Food Item</title>
</head>
<body>
    <h1>Add Food Item</h1>
    <form method="post" action="/restaurant/add">
        <label>Name:</label>
        <input type="text" name="name" required /><br/><br/>

        <label>Rating:</label>
        <input type="number" name="rating" required /><br/><br/>

        <label>Image URL:</label>
        <input type="text" name="imageUrl" required /><br/><br/>

        <input type="submit" value="Add" />
    </form>
</body>
</html>
