<!DOCTYPE html>
<html>
<head>
    <title>Restaurants</title>
</head>
<body>
    <h1>Restaurants</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Image</th>
        </tr>
        <tr th:each="restaurant : ${restaurants}">
            <td th:text="${restaurant.id}"></td>
            <td>
            <a th:href="@{/next-page}">
          <span th:text="${restaurant.name}"></span>
              </a>
               </td>

            <td th:text="${restaurant.rating}"></td>
            <td>
				
              <img th:src="${restaurant.image}" width="100" height="100" />
            </td>
        </tr>
    </table>
    <a href="/restaurant/add">Add Food Item</a>
    <a href="/restaurant/update">Update Food Item</a>
    <a href="/restaurant/delete">Delete Food Item</a>
</body>
</html>
